<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
{{ if .Params.noindex }}
<meta name="robots" content="noindex" />
{{ end }}
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="{{ if .Params.author }}{{ .Params.author }}{{ else }}{{ range .Site.Author }}{{ . }} {{ end }}{{ end }}">
<meta name="description" content="{{ if .IsHome }}{{ .Site.Params.homeSubtitle }}{{ else }}{{ if .Params.Description }}{{ .Params.Description }}{{ else }}{{ .Summary | plainify }}{{ end }}{{ end }}" />
<meta name="keywords" content="{{ .Site.Params.keywords }}{{ if .Params.tags }}{{ range .Params.tags }}, {{ . }}{{ end }}{{ end }}" />
<meta name="robots" content="noodp" />
<meta name="theme-color" content="{{ .Site.Params.themeColor }}" />
<link rel="canonical" href="{{ .Permalink }}" />
{{ block "title" . -}}
    {{- $site_title := i18n "siteTitle" | default $.Site.Title -}}
    {{- $sub_title := i18n "homeSubtitle" | default $.Site.Params.Subtitle -}}
    <title>
        {{- if .IsHome -}}
            {{- $site_title }} {{- with $sub_title }} — {{ . -}}{{- end -}}
        {{- else -}}
            {{- .Title }} :: {{ $site_title }} {{- with $sub_title }} — {{ . -}}{{ end -}}
        {{- end -}}
    </title>
{{- end }}

<!-- CSS -->
{{- $opts := dict "transpiler" "libsass" "targetPath" "main.css" "outputStyle" "compressed" "enableSourceMap" true -}}
{{ with resources.Get "scss/main.scss" | toCSS $opts | minify | fingerprint -}}
  <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
{{- end }}

{{ range $val := $.Site.Params.customCSS -}}
    {{- if gt (len $val) 0 -}}
	{{- $css := resources.Get $val | minify | fingerprint -}}
        {{- with $css -}}
            <link rel="stylesheet" type="text/css" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
        {{- else -}}
            <!-- Fallback for cases where the resource is not found -->
            <link rel="stylesheet" type="text/css" href="{{ $val }}" crossorigin="anonymous">
        {{- end -}}
    {{- end -}}
{{- end }}

<!-- Icons -->
{{- partial "favicons.html" . }}

{{- partial "schema.html" . }}
{{- partial "twitter_cards.html" . }}

{{- if isset .Site.Taxonomies "series" -}}
    {{- partial "opengraph.html" . }}
{{ end -}}

{{- range .Params.categories -}}
    <meta property="article:section" content="{{ . }}" />
{{ end -}}

{{- if isset .Params "date" -}}
    <meta property="article:published_time" content="{{ time .Date }}" />
{{ end -}}

<!-- RSS -->
{{- $title := or .Title ( i18n "siteTitle" | default $.Site.Title ) -}}
{{- with .OutputFormats.Get "rss" -}}
    {{- printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $title | safeHTML }}
{{ end -}}

<!-- JSON Feed -->
{{- if .OutputFormats.Get "json" -}}
<link href="{{ if .OutputFormats.Get "json" }}{{ .Site.BaseURL }}feed.json{{ end }}" rel="alternate"
    type="application/json" title="{{ $title }}" />
{{- end -}}

<!-- Alternative language list for international SEO -->
{{- if .IsTranslated -}}
    {{ range first 1 .AllTranslations }}
    <link rel="alternate" hreflang="x-default" href="{{ .Permalink }}" />
    {{- end -}}
    {{ range .AllTranslations }}
    {{ with .Language.LanguageCode }}
    <link rel="alternate" hreflang="{{ . | lower }}" href="{{ .Permalink }}" />
    {{ end }}
    <link rel="alternate" hreflang="{{ .Language.Lang | lower }}" href="{{ .Permalink }}" />
    {{- end -}}
{{ end }}

<!-- Custom head tags -->
{{- with partial "extra-head.html" . -}}
    {{ . }}
{{ end -}}

<!-- Google Analytics internal template -->
{{- if .Site.Config.Services.GoogleAnalytics.ID -}}
    {{ partial "google_analytics.html" . }}
{{ end -}}

<!-- Plausible.io -->
{{- if $.Site.Params.plausibleDataDomain -}}
    <script defer data-domain="{{ .Site.Params.plausibleDataDomain }}" src="{{ .Site.Params.plausibleScriptSource }}"></script>
{{ end -}}
