{{ define "body" }}
    <body class="{{ if .Site.Params.backgroundImage }} background-image" style="background-image: url('{{ .Site.Params.backgroundImage }}');" {{ else }}"{{ end }}>
{{ end }}

{{ define "main" }}
    <main>
        <div>
	{{- $alt := or .Site.Params.Portrait.Alt .Site.Title -}}
	{{- $cls := or .Site.Params.Portrait.Class "circle" -}}
	{{- $max_width := or .Site.Params.Portrait.MaxWidth "5rem" -}}
	{{- with .Site.Params.Portrait.Path -}}
	    {{- $src := . -}}

	    {{- $portrait := resources.GetMatch . -}}
	    {{- if $portrait -}}
		{{ $src = $portrait.RelPermalink }}
	    {{- end -}}

	    {{ if $src }}
		<img src="{{- $src -}}" class="{{- $cls -}}" alt="{{- $alt -}}"
		    style="max-width:{{- $max_width -}}" />
	    {{ end }}
	{{ end }}

            <h1>{{ i18n "siteTitle" | default .Site.Title }}</h1>

            {{ partial "subtitle.html" . }}

            {{- with .Site.Params.social }}
                <div>
                    {{ partial "social-icons.html" . }}
                </div>
            {{- end }}
        </div>
    </main>
{{ end }}
